<div class="d-flex justify-content-center mt-5">
    <div *ngIf="message" class="alert alert-danger">
        {{ message }}
      </div>

    <form class="w-50 p-4 border rounded shadow-sm" [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
      <h4 class="text-center mb-4">Book Form</h4>
  
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          class="form-control form-control-sm"
          formControlName = "title"
        />
        <small *ngIf="reactiveForm.get('title').invalid" >
          <small *ngIf="reactiveForm.get('title').hasError('required')" >
            *book name is required
          </small>
          <small *ngIf="reactiveForm.get('title').hasError('minlength')" >
            *book name should be longer
          </small>
        </small>
        
      </div>
  
      <div class="mb-3">
        <label for="author" class="form-label">Author</label>
        <input
          type="text"
          class="form-control form-control-sm"
          formControlName = "author"
        />
      </div>
  
      <div class="mb-3">
        <label for="publishedYear" class="form-label">Published Year</label>
        <input
          type="number"
          class="form-control form-control-sm"
          formControlName = "year"
        />
      </div>
  
      <div class="mb-3">
        <label for="genre" class="form-label">Genre</label>
        <input
          type="text"
          class="form-control form-control-sm"
          formControlName = "genre"
        />
      </div>
  
      <button type="submit" class="btn btn-primary btn-sm w-100">Save</button>
    </form>
  </div>
  